    h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 100px;
}
  .step {
    display: none;
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  select, input[type="date"], input[type="time"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  #contenedorFormulario {
    display: none;
    /* Ajusta estos valores según tus necesidades */
    margin: 0;
    padding: 0;
    border: none;
  }
  
  /* Estilo para el formulario dentro del contenedor */
  #contenedorFormulario form {
    /* Ajusta estos valores según tus necesidades */
    margin: 0;
    padding: 0;
  }