<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Enlace a Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Enlace a styles.css -->
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container mt-5">
        <h2 class="mb-3 text-center">Ingreso</h2>
        <form action="/home/ingresar" method="POST" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="correo">Correo electrónico:</label>
                <input type="email" id="correo" name="correo" class="form-control" required>
                <div class="invalid-feedback">
                    Por favor, ingresa un correo válido.
                </div>
            </div>

            <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <div class="input-group"> <!-- Agrega la clase input-group -->
                    <input type="password" id="contrasena" name="contrasena" class="form-control" required>
                    <button class="btn btn-outline-secondary" type="button" id="togglePassword">🙉</button>
                </div>
                <div class="invalid-feedback">
                    Por favor, ingresa una contraseña.
                </div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <div class="d-flex justify-content-center"> <!-- Agrega la clase d-flex y justify-content-center -->
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </div>
        </form>

        <!-- Mostrar el mensaje de error si existe -->
        <div th:if="${error}" class="error-message mt-3">
            <p th:text="${error}"></p>
        </div>
        
        <!-- Enlace para Registrarse -->
        <div class="d-flex justify-content-center mt-3">
            <a href="/home/registro" class="btn btn-secondary">Registrarse</a>
        </div>
    </div>

    <!-- Script para habilitar la validación de formularios en Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/funciones.js"></script>
</body>

</html>
